<ion-header>

  </ion-header>
  
  <ion-content padding>
      <ion-item>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
          <br>
        <ion-input placeholder="Usuário" [(ngModel)]="login" style="margin-top:20%"></ion-input>
      </ion-item>
     <!-- <ion-item *ngIf="login.hasError('required') && login.touched">
        <p>Digite o Usuário</p>
      </ion-item>  -->
      <ion-item>
        <ion-input type="password" placeholder="Senha" [(ngModel)]="senha" >
          <ion-icon name="eye"></ion-icon>
        </ion-input>
      </ion-item>
     <!-- <ion-item *ngIf="senha.hasError('required') && senha.touched"> 
        <p>Digite a Senha</p>
      </ion-item>  -->
      <br>
      <br>
      <br>
      <button ion-button color="blue" (click)="Entrar()" class="login-button" style="width: 80%; margin-left: 10%; border-radius: 20px; ">
        Entrar
      </button> <br>
    <button ion-button color="light" (click)="gotocadastro()" class="signup-button" style="width: 80%; margin-left: 10%; border-radius: 20px; color: blue">
       Cadastre-se
    </button>
  </ion-content>