page-addnews {

    font-family: 'Segoe UI';

    .fundo {
        background-color: #98FB98;
    }

    .subject {
        text-align: center;
        position: relative;       
    }

    .content {
        text-align: center;
        position: relative;       
    }

    .info {
        text-align: center;
        position: relative;       
    }

    .iniciativa  {
        text-align: center;
        position: relative;       
    }  
    
}
